name: covid-page-update
on:
  push:
    branches: [  master ]
  schedule:
    - cron: 0 * * * *

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.6'
    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8
    - name: Dependencies
      run: |
        pip install pandas
        pip install matplotlib
        pip install seaborn
    - name: Run daily
      run: erb index.erb.html > index.html
    - name: gh pages push
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./public
    - name: Manual Push
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add --all; git commit -m "action"
        git push

